PORT=3000
DB_USER="dev"
DB_PASSWORD="devs123"
DB_HOST="localhost"
DB_NAME="my-api"
DB_PORT="5432"

DATABASE_URL="postgresql://dev:devs123@localhost:5432/my-api?schema=public"

JWT_SECRET="clave-secreta-para-jwt-amplix"

